{% extends "bookings/base.html" %}

{% block content %}

<p>
	Bookings
</p>

<ul>
	{% for booking in bookings %}
	  <li>
	    <a href="{% url 'bookings:booking' booking.id %}">
	    {{ booking }}
		</a>
		<span>
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			{{ booking.date }}
		</span>
		<span>
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			{{ booking.payment.email }}
		</span>
		<span>
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			{{ booking.happening }}
		</span>
		<span>
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			{{ booking.payment.charge_status }}
		</span>
		<span>
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			{{ booking.detail.comments }}
		</span>
	  </li>
	{% empty %}
	  <li> There are no bookings </li>
	{% endfor %}
</ul>



{% endblock content %}