{% extends "bookings/base.html" %}

{% block 2ndcontent %}

  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:25px 75px 300px 75px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">One more thing!</h2>
              <div class="divider-header"></div>
              <p>For your security, we sent you an email with your payment confirmation. We also ask that you respond to that email with some addional information about your booking.</p>
              <p>You may also contact us at operations@partybus.com</p>
              <p style="color:red"> visit https://partybus-testsite.herokuapp.com/users/login/ to see the operations dashboard.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section>


{% endblock 2ndcontent %}