{% extends "bookings/base.html" %}

{% block content %}


<!--
<p>
<form action="/checkout" method="POST" >

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_DpPhRMRAYLkZqgZxgFLTM3vY"
    data-amount="400"
    data-name="Sixty Mill Street"
    data-description="14 Person Pary Bus"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
 
</form>
</p>
-->

   <!-- Section: home video -->

  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Contact us</h2>
              <div class="divider-header"></div>
              <p>Lorem ipsum dolor sit amet, agam perfecto sensibus usu at duo ut iriure.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">

      <div class="row marginbot-80">
        <div class="col-md-8 col-md-offset-2">
        

            <p>
  Reservation ID: {{ reservation.id }}
</p>

<p>
  Reservation Date: {{ reservation.date }}
</p>


<p>
  <form action="{% url 'bookings:payment' reservation.id %}"
  method="post">
     <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_DpPhRMRAYLkZqgZxgFLTM3vY"
    data-amount="400"
    data-name="Sixty Mill Street"
    data-description="14 Person Pary Bus"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
  </form>
</p>


          </form>
        </div>
      </div>


    </div>
  </section>
  <!-- /Section: contact -->

  


  <!-- Section: home video 

<p>
  <form action="{% url 'bookings:payment' reservation.id %}"
  method="post">
     <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_DpPhRMRAYLkZqgZxgFLTM3vY"
    data-amount="400"
    data-name="Sixty Mill Street"
    data-description="14 Person Pary Bus"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
  </form>
</p>
-->
     <!-- Core JavaScript Files -->
  <script src="static/Valera/js/jquery.min.js"></script>
  <script src="static/Valera/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
  <script src="static/Valera/js/jquery.sticky.js"></script>
  <script src="static/Valera/js/slippry.min.js"></script>
  <script src="static/Valera/js/jquery.flexslider-min.js"></script>
  <script src="static/Valera/js/morphext.min.js"></script>
  <script src="static/Valera/js/gmap.js"></script>
  <script src="static/Valera/js/jquery.mb.YTPlayer.js"></script>
  <script src="static/Valera/js/jquery.easing.min.js"></script>
  <script src="static/Valera/js/jquery.scrollTo.js"></script>
  <script src="static/Valera/js/jquery.appear.js"></script>
  <script src="static/Valera/js/stellar.js"></script>
  <script src="static/Valera/js/wow.min.js"></script>
  <script src="static/Valera/js/owl.carousel.min.js"></script>
  <script src="static/Valera/js/nivo-lightbox.min.js"></script>
  <script src="static/Valera/js/jquery.nicescroll.min.js"></script>
  <script src="static/Valera/js/custom.js"></script>
  <script src="static/Valera/contactform/contactform.js"></script>
  <script src="static/Valera/js/gifplayer.js"></script>

{% endblock content %}