{% extends "bookings/base.html" %}
{% load static %}

{% block 2ndcontent %}



<!--
<p>
<form action="/checkout" method="POST" >

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_DpPhRMRAYLkZqgZxgFLTM3vY"
    data-amount="400"
    data-name="Sixty Mill Street"
    data-description="14 Person Pary Bus"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
 
</form>
</p>
-->

   <!-- Section: home video -->

  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">You're one step away!</h2>
              <div class="divider-header"></div>
              <p>Confirm your booking details below, and then tap "pay" to reserve your booking.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row marginbot-80">
        <div class="col-md-8 col-md-offset-2 text-left">
          <p>
            Reservation ID: {{ reservation.id }}
          </p>
          <p>
            Reservation Date: {{ reservation.date }}
          </p>
          <p>
            Vehicle: 16 Person Party Bus
          </p>
        </div>
        <div class="user-agreement text-left"> 
          <h5 style="color: black;">
            Terms and Conditions
          </h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ligula ullamcorper malesuada proin libero nunc consequat. Tortor condimentum lacinia quis vel eros donec. Sed nisi lacus sed viverra. Nisi lacus sed viverra tellus in hac habitasse platea. Senectus et netus et malesuada fames ac turpis egestas. Nunc congue nisi vitae suscipit tellus mauris a. Aenean euismod elementum nisi quis eleifend. Egestas sed tempus urna et pharetra. Mauris a diam maecenas sed enim ut sem viverra.

          Diam vel quam elementum pulvinar etiam non quam lacus. Nunc vel risus commodo viverra maecenas accumsan lacus. Montes nascetur ridiculus mus mauris vitae. Egestas congue quisque egestas diam in arcu cursus euismod. Enim facilisis gravida neque convallis a. Pretium aenean pharetra magna ac placerat vestibulum lectus. Mauris a diam maecenas sed enim ut sem viverra aliquet. Et egestas quis ipsum suspendisse ultrices gravida. Amet porttitor eget dolor morbi non arcu risus. Diam ut venenatis tellus in metus vulputate. Lectus urna duis convallis convallis tellus id. Lorem ipsum dolor sit amet.

          Sed nisi lacus sed viverra. Netus et malesuada fames ac. Urna duis convallis convallis tellus id interdum velit laoreet. Euismod quis viverra nibh cras. Quis auctor elit sed vulputate mi sit. Amet commodo nulla facilisi nullam vehicula ipsum. Dui faucibus in ornare quam viverra orci sagittis. Elit duis tristique sollicitudin nibh. Consectetur adipiscing elit pellentesque habitant. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Fusce id velit ut tortor pretium viverra suspendisse potenti. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Ipsum dolor sit amet consectetur adipiscing. Sem integer vitae justo eget magna fermentum iaculis eu non. Faucibus interdum posuere lorem ipsum dolor sit. Pretium aenean pharetra magna ac placerat. Id cursus metus aliquam eleifend. Facilisi cras fermentum odio eu. Suscipit tellus mauris a diam maecenas sed enim. Tempus urna et pharetra pharetra massa massa ultricies mi.
        </div>
        <div>
          <p>
            By electing to pay, you agree with the terms and conditions above. 
          </p>
        </div>
        <p>
          <form action="{% url 'bookings:payment' reservation.id %}" method="post">
            <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_DpPhRMRAYLkZqgZxgFLTM3vY"
            data-amount="{{ reservation.quote_amount }}"
            data-name="Party Bus"
            data-description="16 Person Pary Bus"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">    
            </script>
          </form>
        </p>
      </div>
    </div>
  </section>

     <!-- Core JavaScript Files -->
  <script src="static/Valera/js/jquery.min.js"></script>
  <script src="static/Valera/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
  <script src="static/Valera/js/jquery.sticky.js"></script>
  <script src="static/Valera/js/slippry.min.js"></script>
  <script src="static/Valera/js/jquery.flexslider-min.js"></script>
  <script src="static/Valera/js/morphext.min.js"></script>
  <script src="static/Valera/js/gmap.js"></script>
  <script src="static/Valera/js/jquery.mb.YTPlayer.js"></script>
  <script src="static/Valera/js/jquery.easing.min.js"></script>
  <script src="static/Valera/js/jquery.scrollTo.js"></script>
  <script src="static/Valera/js/jquery.appear.js"></script>
  <script src="static/Valera/js/stellar.js"></script>
  <script src="static/Valera/js/wow.min.js"></script>
  <script src="static/Valera/js/owl.carousel.min.js"></script>
  <script src="static/Valera/js/nivo-lightbox.min.js"></script>
  <script src="static/Valera/js/jquery.nicescroll.min.js"></script>
  <script src="static/Valera/js/custom.js"></script>
  <script src="static/Valera/contactform/contactform.js"></script>
  <script src="static/Valera/js/gifplayer.js"></script>

{% endblock 2ndcontent %}