{% extends "bookings/base.html" %}

{% load bootstrap3 %}
{% load static %}
{% block 1stcontent %}


   <!-- Section: home video -->
  <section id="intro" class="home-video text-light">
    <div class="container">
    <div class="home-video-wrapper">

      <div class="homevideo-container">
        <div id="P1" class="bg-player" style="display:block; margin: auto; background: rgba(0,0,0,0.5)" data-property="{videoURL:'https://www.youtube.com/watch?v=IvUOHhTa3uE?t=20',containment:'.homevideo-container', quality: 'hd720', showControls: false, autoPlay:true, mute:true, startAt:0, opacity:1}">     
        </div>
      </div> 
      <div class="overlay">
        <div class="text-center video-caption">
          <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.8s"> 
            <div style="padding-bottom: 4%">
              <h1 class="big-heading font-light">
                <span id="js-rotating">
                  Party Bus Rentals for, Sporting events, Birthdays, Weddings, Christmas lights tour, Winery tours
                </span>
              </h1>
            </div> 

          <div class="wow bounceInUp" data-wow-offset="0" data-wow-delay="0.8s">
        	    <form action="{% url 'bookings:reservation' %}" method="post">
            
                {% csrf_token %}
                <div>
				          {% bootstrap_field form.date layout='inline' field_class='form-date' %}
                </div>
                <div>
                  {% bootstrap_field form.duration layout='inline' field_class='form-duration' %}
                </div>

                <div class="btn btn-skin">
                  <button type="submit" class="btn btn-skin btn-lg" >
                    Reserve your bus
                </button>
              </div>
			       </form>
            </div>
          </div>
        </div> 
      </div> 
    </div>
  </div>
  </section>

    <!-- Core JavaScript Files -->
 <!-- <script src='Valera/js/jquery.min.js' %}"></script> -->
 <!-- Core JavaScript Files  -->
  <script src="{% static 'Valera/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'Valera/js/slippry.min.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.flexslider-min.js' %}"></script>
  <script src="{% static 'Valera/js/morphext.min.js' %}"></script>
  <script src="{% static 'Valera/js/gmap.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.mb.YTPlayer.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.scrollTo.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.appear.js' %}"></script>
  <script src="{% static 'Valera/js/stellar.js' %}"></script>
  <script src="{% static 'Valera/js/wow.min.js' %}"></script>
  <script src="{% static 'Valera/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'Valera/js/nivo-lightbox.min.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'Valera/js/custom.js' %}"></script>
  <script src="{% static 'Valera/contactform/contactform.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>


{% endblock 1stcontent %}

{% block 2ndcontent %}

      <!-- Section: pricing --> 
  <section id="pricing" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Simple Pricing</h2>
              <div class="divider-header"></div>
              <div>
              <p style="text-align: center; width:100%;">
                <ul>
                  <li> Know your headcount, know your price.</li>
                  <li >No additional service charge.</li>
                  <li >We can add on last minute passengers.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: parallax 1 -->
  <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.3">
    <div class="container" style="padding: 0 0 0 0">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">$10 an hour per person.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  
    <!-- Section: Amenities --> 
  <section id="buses" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Buses</h2>
              <div class="divider-header"></div>
              <div>
                <ul style="text-align: center; width:100%;">
                  <li style="display:inline;">Party buses available for up to 30 people</li>
                  <li>Lorem ipsum dolor sit amet, agam perfecto sensibus usu at duo ut iriure.</li>
                  <li style="text-align: center; width:100%;">All buses have plug-n-play music systems.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </section>   

  <!-- Section: parallax 2 -->
  <section id="parallax2" class="home-section parallax text-light" data-stellar-background-ratio="0.3">
    <div class="container">
      <div class="row appear stats">
        <div class="col-md-3">
          <div class="align-center color-white txt-shadow">
            <div class="icon">
              <i class="pe-7s-stopwatch pe-5x"></i>
            </div>
            <strong id="counter-coffee" class="number">110042</strong><br />
            <span class="text">Miles</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="align-center color-white txt-shadow">
            <div class="icon">
              <i class="pe-7s-music pe-5x"></i>
            </div>
            <strong id="counter-music" class="number">229</strong><br />
            <span class="text">Tracks</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="align-center color-white txt-shadow">
            <div class="icon">
              <i class="pe-7s-coffee pe-5x"></i>
            </div>
            <strong id="counter-clock" class="number">451</strong><br />
            <span class="text">beverages</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="align-center color-white txt-shadow">
            <div class="icon">
              <i class="pe-7s-cup pe-5x"></i>
            </div>
            <strong id="counter-heart" class="number">12187</strong><br />
            <span class="text">customers</span>
          </div>
        </div>
      </div>
    </div>
  </section>

      <!-- Section: promo --> 
  <section id="promo" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Sunday-Thursday Special</h2>
              <div class="divider-header"></div>
              <div>
              <p style="text-align: center; width:100%;">
                <ul>
                  <li>Seats up to 12 people</li>
                  <li>2 hour bus $200 - Save $40</li>
                  <li>4 hour bus $400 - Save $80</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


            <!-- Core JavaScript Files -->
  <!--<script src="static/Valera/js/jquery.min.js"></script>-->
 <!-- Core JavaScript Files -->
  <script src="{% static 'Valera/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'Valera/js/slippry.min.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.flexslider-min.js' %}"></script>
  <script src="{% static 'Valera/js/morphext.min.js' %}"></script>
  <script src="{% static 'Valera/js/gmap.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.mb.YTPlayer.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.scrollTo.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.appear.js' %}"></script>
  <script src="{% static 'Valera/js/stellar.js' %}"></script>
  <script src="{% static 'Valera/js/wow.min.js' %}"></script>
  <script src="{% static 'Valera/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'Valera/js/nivo-lightbox.min.js' %}"></script>
  <script src="{% static 'Valera/js/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'Valera/js/custom.js' %}"></script>
  <script src="{% static 'Valera/contactform/contactform.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>


{% endblock 2ndcontent %}